﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="656" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Migration of the Credentials.ini Files</h1>
        <p>A typical <MadCap:variable name="S3 Connector Variables.ComponentName" /> deployment contains two credentials.ini files, one which is used at the federation root (containing the credentials needed to download docker images from docker hub) and one to use in {{environment}} that contains the Vault superadmin credentials.</p>
        <p class="Note">Previous versions of <MadCap:variable name="S3 Connector Variables.ComponentName" /> can contain a single credentials.ini file to serve all such needs, located at the federation root.</p>
        <p>The migration of credentials.ini files involves (1) the generation of credentials for both docker hub and Vault superadmin, and (2) the erasing of any old credentials .ini files.</p>
        <h2>Generating docker hub Credentials and Vault Superadmin Credentials</h2>
        <p>Scality provides a single playbook for converting docker hub credentials and the Vault superadmin credentials. In GA1, these two informations were stored in the credentials.ini file(s).</p>
        <p>In <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2, docker hub credentials are stored in a file named {[environment}}/group_vars/credentials_hub_docker_com.yml (refer to ./env/client-template/group_vars/credentials_hub_docker_com.yml for an example). Moreover, in <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2, the Vault superadmin credentials are stored in {{environment}}/vault/admin-clientprofile/, a directory within which each is supposed to be the credentials for a vault superadmin (refer to ./env/client-template/vault/admin-clientprofile.example/admin1.js for an example).</p>
        <p>Confirm the presence of the file {{environment}}/group_vars/credentials_hub_docker_com.yml file, and confirm that the {{environment}}/vault/admin-clientprofile/ directory is empty, and then run the following Ansible playbook:</p>
        <p class="codeparatext_lastline">ansible-playbook -i &lt;my-env&gt;/inventory ./tooling-playbooks/migration/dockerhub-and-vaultadmin-from-credentials-ini.yml</p>
        <p>The playbook will read the credentials.ini file at the root of federation and generate a file {{environment}}/group_vars/credentials_hub_docker_com.yml, and in addition it will read the credentials.ini file in the directory and populate the {{environment}}/vault/admin-clientprofile/.</p>
        <h2>Erase Old credentials.ini Files</h2>
        <p>Erase or backup any old credentials.ini files.</p>
    </body>
</html>