﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="879" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>sproxyd Configuration</h1>
        <p>The default configuration for the <span class="ProprietaryNonConventional">sproxyd</span> connectors installed by Ansible is set in the<span class="FileName"> /roles/run-sproxyd/templates/sproxyd.config.j2</span> file in the main <MadCap:variable name="S3 Connector Variables.ComponentName" /> repository. The bootstrap list is set in the <a href="../2_Deployment_Environment/Modifying the Group Variables Template.htm">Group Variables template</a>. </p>
        <p class="Note">To modify the sproxyd configuration for parameters other than the bootstrap list, modifications must first be made to the <span class="FileName">/roles/run-sproxyd/templates/sproxyd.config.j2</span> file (from the Federation repository or the extracted <MadCap:variable name="S3 Connector Variables.ComponentName" /> tar archive file directory on the deployment server), and then the <code>ansible-playbook</code> command with the <code>--tags</code> argument set to <span class="Code_Terminal">sproxyd</span> must be re-run.</p>
        <p>The sproxyd Connector installed by Ansible does not use the <span class="ProprietaryNonConventional">sagentd</span> component to connect to the <MadCap:variable name="General.ProductName" /> Supervisor.</p>
        <p>The default sproxyd configuration installed from the Docker images shown below uses ARC&#160;9,3 erasure coding for data protection on files at or above 60000 bytes, and COS&#160;2 replication for files that are smaller than 60000 bytes:</p>
        <p class="codeparatext">{</p>
        <p class="codeparatext_indent">"general": {</p>
        <p class="codeparatext_indent_indent">"conn_max": 10000,</p>
        <p class="codeparatext_indent_indent">"conn_max_reuse": 100000,</p>
        <p class="codeparatext_indent_indent">"consistent_reads": false,</p>
        <p class="codeparatext_indent_indent">"consistent_writes": true,</p>
        <p class="codeparatext_indent_indent">"max_proc_fd": 40960,</p>
        <p class="codeparatext_indent_indent">"n_workers": 500,</p>
        <p class="codeparatext_indent_indent">"n_responders": 500,</p>
        <p class="codeparatext_indent_indent">"port": 10000,</p>
        <p class="codeparatext_indent_indent">"split_chunk_size": 33554432,</p>
        <p class="codeparatext_indent_indent">"split_control_by_request": false,</p>
        <p class="codeparatext_indent_indent">"split_enabled": true,</p>
        <p class="codeparatext_indent_indent">"split_gc_cos": 2,</p>
        <p class="codeparatext_indent_indent">"split_memory_limit": 671088640,</p>
        <p class="codeparatext_indent_indent">"split_n_get_workers": 20,</p>
        <p class="codeparatext_indent_indent">"split_n_io_workers": 20,</p>
        <p class="codeparatext_indent_indent">"split_n_put_workers": 20,</p>
        <p class="codeparatext_indent_indent">"split_threshold": 67108864</p>
        <p class="codeparatext_indent">},</p>
        <p class="codeparatext_indent">"ring_driver:0": {</p>
        <p class="codeparatext_indent_indent">"alias": "chord",</p>
        <p class="codeparatext_indent_indent">"bstraplist": "{{ env_sproxyd.bootstrap_list | join(',') }}",</p>
        <p class="codeparatext_indent_indent">"by_path_enabled": true,</p>
        <p class="codeparatext_indent_indent">"by_path_cos": 2,</p>
        <p class="codeparatext_indent_indent">"by_path_service_id": "0xC0",</p>
        <p class="codeparatext_indent_indent">"deferred_deletes_enabled_by_policy": true,</p>
        <p class="codeparatext_indent_indent">"deferred_deletes_enabled_by_request": false,</p>
        <p class="codeparatext_indent_indent">"deferred_deletes_policy": "2:1",</p>
        <p class="codeparatext_indent_indent">"deferred_writes_enabled_by_policy": true,</p>
        <p class="codeparatext_indent_indent">"deferred_writes_enabled_by_request": false,</p>
        <p class="codeparatext_indent_indent">"deferred_writes_policy": "2:1",</p>
        <p class="codeparatext_indent_indent">"type": "chord"</p>
        <p class="codeparatext_indent">},</p>
        <p class="codeparatext_indent">"ring_driver:1": {</p>
        <p class="codeparatext_indent_indent">"alias": "arc",</p>
        <p class="codeparatext_indent_indent">"arc_schema": 12,</p>
        <p class="codeparatext_indent_indent">"bstraplist": "{{ env_sproxyd.bootstrap_list | join(',') }}",</p>
        <p class="codeparatext_indent_indent">"by_path_enabled": false,</p>
        <p class="codeparatext_indent_indent">"chordcache_enabled": false,</p>
        <p class="codeparatext_indent_indent">"get_reconstruct_buffer_size": 1048576,</p>
        <p class="codeparatext_indent_indent">"main_n_workers": 250,</p>
        <p class="codeparatext_indent_indent">"max_stripes_in_write_queue": 2,</p>
        <p class="codeparatext_indent_indent">"min_data_part_length": 20000,</p>
        <p class="codeparatext_indent_indent">"min_redundant_parts_put_ok": 2,</p>
        <p class="codeparatext_indent_indent">"force_enable_optim_immutable": true,</p>
        <p class="codeparatext_indent_indent">"n_coding_parts": 3,</p>
        <p class="codeparatext_indent_indent">"n_data_parts": 9,</p>
        <p class="codeparatext_indent_indent">"object_class": 3,</p>
        <p class="codeparatext_indent_indent">"replication_size_threshold": 60000,</p>
        <p class="codeparatext_indent_indent">"stripe_size": 262144,</p>
        <p class="codeparatext_indent_indent">"sub_n_workers": 250,</p>
        <p class="codeparatext_indent_indent">"type": "arc"</p>
        <p class="codeparatext_indent">}</p>
        <p class="codeparatext_lastline">}</p>
    </body>
</html>