﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="741" MadCap:lastWidth="648">
    <head />
    <body>
        <h1><a name="top"></a>Modifying the Group Variables (all)&#160;File</h1>
        <p style="text-align: left;">Before installing <MadCap:variable name="S3 Connector Variables.ComponentName" />s and components, it is necessary to modify the group <span class="FileName">/group_vars/all</span> file, located in the <cite>/env/{{targetEnvironmentName}}/group_vars/</cite> directory. </p>
        <p style="text-align: left;">The <span class="FileName">/group_vars/all</span> file sets a  list of Docker registry entries that determines which images to pull from the Docker Hub repository. It can also set S3 service endpoints, <span class="ProprietaryNonConventional">sproxyd</span> bootstrap nodes, and logger ports and parameter settings. Ansible calls the <span class="FileName">/group_vars/all</span> file based on the servers listed under corresponding <span class="FileName">inventory</span> file group sections. </p>
        <p class="Note" style="text-align: left;">Replace all <cite>example.com</cite> names in the /group_vars/all file with the mapped DNS&#160;names or IP addresses of the servers in the target environment. Additional lines can be uncommented and set appropriately for optional environment functionality.</p>
        <p class="Note" style="text-align: left;">If the env_host_data and/or env_host_logs are on an external disk drive, that drive must be mounted using fstab.</p>
        <h2>Mandatory Configuration</h2>
        <p style="text-align: left;">The <span class="FileName">/group_vars/all</span> file handles a large number of essential <MadCap:variable name="S3 Connector Variables.ComponentName" /> settings and, with the exception of <span class="Code_Terminal">env_host_data</span>, <span class="Code_Terminal">env_host_logs</span>, <span class="Code_Terminal">env_s3</span>, and <span class="Code_Terminal">location_constraints</span>, these settings should usually persist in their default state.</p>
        <p class="Alert" style="text-align: left;">As empty lines and character spacing are critical to the functioning of yaml files, be careful not to change non-variable aspects of the /group_vars/all file.</p>
        <h3>env_host_data</h3>
        <p style="text-align: left;">Modify the <span class="Code_Terminal">env_host_data</span> value to indicate a local directory on which <MadCap:variable name="S3 Connector Variables.ComponentName" /> nodes will store metadata (ideally, an SSD). </p>
        <p class="codeparatext_lastline">env_host_data: /opt/scality/s3/data</p>
        <p class="Note" style="text-align: left;">The RING&#160;stores data on disks at /scalty/ssd/<span class="Variable">n</span>. By default, the env_host_data_value indicated in the <span class="FileName">/group_vars/all</span> file  is not the same disc on which RING&#160;data is stored. </p>
        <div style="page-break-inside: avoid;">
            <h3>env_host_logs</h3>
            <p style="text-align: left;">Edit the <span class="Code_Terminal">env_host_logs</span> value to indicate the location of <MadCap:variable name="S3 Connector Variables.ComponentName" /> log files on the host.</p>
            <p class="codeparatext_lastline">env_host_logs: /var/log/s3</p>
        </div>
        <div style="page-break-inside: avoid;">
            <h3>env_s3</h3>
            <p style="text-align: left;">Change the env_s3 value to define the <MadCap:variable name="S3 Connector Variables.ComponentName" /> API endpoint. </p>
            <p class="codeparatext" MadCap:conditions="PrintGuides.GA6.4">env_s3</p>
            <p class="codeparatext_indent" MadCap:conditions="PrintGuides.GA6.4">endpoints:</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- s3.example.com</p>
            <p class="Note" MadCap:conditions="PrintGuides.GA7.0">Warning: As of release 7.0 the format has changed. </p>
            <p style="text-align: left;" MadCap:conditions="PrintGuides.GA7.0">Beginning with release 7.0, <MadCap:variable name="S3 Connector Variables.ComponentName" /> supports multiple data backend locatons. Note that this not contained in the AWS specification. </p>
            <p style="text-align: left;" MadCap:conditions="PrintGuides.GA7.0">To set up the configuration, instead of specifying “endpoints” as was previously done, a <span class="Variable">rest_endpoints</span> section must specify each endpoint as a key and the default location for that endpoint as a value.</p>
            <p style="text-align: left;" MadCap:conditions="PrintGuides.GA7.0"><b>Regarding the endpoint itself</b> — (for example, <span class="ElementName">s3.example.com</span> below), the hostname must resolve to the S3 API endpoint (which usually resolves to the load balancer in front of all  endpoints). The DNS entry of the hostname must be a wildcard entry to resolve bucket names (e.g., <span class="ElementName">bucketname.s3.example.com</span>).</p>
            <p style="text-align: left;" MadCap:conditions="PrintGuides.GA7.0"><b>Regarding the default location</b> — (for example <span class="ElementName">us-east-1</span> below), this is the default location to put data for requests to the given endpoint, unless a given bucket has a location or an object is put with <span class="Variable">an x-amz-meta-scal-location-constraint</span> header.  </p>
            <p style="text-align: left;" MadCap:conditions="PrintGuides.GA7.0">In the example below, if a user hits <span class="ElementName">s3.example.com</span>, the default location to put data would be treated as <span class="ElementName">us-east-1</span>. The location <span class="ElementName">us-east-1</span> must map to a location contained in the list of <span class="ElementName">location_constraints</span>. </p>
            <p MadCap:conditions="PrintGuides.GA7.0" class="codeparatext_manual_spacing">env_s3:</p>
            <p class="codeparatext" MadCap:conditions="PrintGuides.GA7.0">rest_endpoints:</p>
            <p class="codeparatext_indent" MadCap:conditions="PrintGuides.GA7.0">s3.example.com : us-east-1</p>
            <p class="codeparatext_indent" MadCap:conditions="PrintGuides.GA7.0">127.0.0.2: us-east-1</p>
            <p class="codeparatext_indent" MadCap:conditions="PrintGuides.GA7.0">localhost: legacy</p>
            <p class="codeparatext_indent" MadCap:conditions="PrintGuides.GA7.0">node1.amazonaws.com : us-east-1</p>
            <h3 MadCap:conditions="PrintGuides.GA7.0"><a name="location_constraints"></a>location_constraints</h3>
            <p MadCap:conditions="PrintGuides.GA7.0" class="codeparatext_manual_spacing">There can be one or more location_constraints. The key for each <span class="Variable">location_constraint</span> is its name, which (unless otherwise specified in this guide) can be chosen by the user. In the /group_vars/all file, each <span class="Variable">location_constraint</span> must have a <span class="Variable">type</span>, <span class="Variable">legacy_aws_behavior</span> (whether the user wants requests hitting this endpoint to have legacy AWS behavior), and <span class="Variable">connector</span>. Connector contains <span class="ElementName">sproxyd</span>, and under <span class="ElementName">sproxyd</span>, the config options for <span class="ElementName">sproxyd</span>, including the port and any other sproxyd configuration options.</p>
            <p MadCap:conditions="PrintGuides.GA7.0" class="codeparatext_manual_spacing">&#160;</p>
            <MadCap:snippetBlock src="../Resources/Snippets/cut_paste_pdf_constraint.flsnp" MadCap:conditions="PrintGuides.GA7.0" /><pre MadCap:conditions="PrintGuides.GA7.0" xml:space="preserve" style="page-break-before: right;">location_constraints:
  legacy:
    type: scality
    legacy_aws_behavior: no
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4243
          - node2.example.com:4243
          - node3.example.com:4243
          - node4.example.com:4243
          - node5.example.com:4243
          - node6.example.com:4243
  us-east-1:
    type: scality
    legacy_aws_behavior: yes
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4244
          - node2.example.com:4244
          - node3.example.com:4244
          - node4.example.com:4244
          - node5.example.com:4244
          - node6.example.com:4244</pre>
            <p MadCap:conditions="PrintGuides.GA7.0" class="codeparatext_manual_spacing">&#160;</p>
            <p MadCap:conditions="PrintGuides.GA7.0" class="Note">Note that multiple <span class="ElementName">sproxyd</span> configurations are possible for each location. It is also possible for mulltiple locations to point to the same sproxyd configuration.</p>
            <h4>bootstrap_list</h4>
            <p style="page-break-after: avoid;text-align: left;">Enter the hostnames for the RING nodes that the <MadCap:variable name="S3 Connector Variables.ComponentName" /> will use to connect to the RING.</p>
            <p class="codeparatext_indent" MadCap:conditions="PrintGuides.GA6.4">bootstrap_list:</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node1.example.com:4244</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node1.example.com:4245</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node2.example.com:4244</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node2.example.com:4245</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node3.example.com:4244</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node3.example.com:4245</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node4.example.com:4244</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node4.example.com:4245</p>
            <p class="codeparatext_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node5.example.com:4244</p>
            <p class="codeparatext_lastline_indent_indent" MadCap:conditions="PrintGuides.GA6.4">- node5.example.com:4245</p>
        </div>
        <p class="Alert" MadCap:conditions="PrintGuides.GA7.0">Warning: If upgrading to release 7.0 of the <MadCap:variable name="S3 Connector Variables.ComponentName" /> with existing buckets that have locations set (such as <span class="ElementName">us-east-1</span>), those locations MUST be listed in the location_constraints section of this file. If this is not done, and a user tries to put an object in one of those buckets (without designating a location at the object level), an error will prevent the PUT object request.</p>
        <p class="Alert" MadCap:conditions="PrintGuides.GA7.0">Important: If upgrading to release 7.0 of the <MadCap:variable name="S3 Connector Variables.ComponentName" />, you MUST have a location_constraint called <span class="Variable">legacy</span> that states your pre-existing sproxyd information. If you don't, you will not be able to retrieve your data.</p>
        <h3 MadCap:conditions="PrintGuides.GA6.4">env_sproxyd</h3>
        <h3>sproxyd</h3>
        <p class="Note" style="text-align: left;">To modify the sproxyd configuration for parameters other than the bootstrap list, modify the <span class="FileName">/roles/run-sproxyd/templates/sproxyd.config.j2</span> file (from the Federation repository or the extracted <MadCap:variable name="S3 Connector Variables.ComponentName" /> tar archive file directory on the deployment server). Then rerun the <code>ansible-playbook</code> command with the <code>--tags</code> argument set to <span class="Code_Terminal">sproxyd</span>.</p>
        <p style="text-align: left;">The sproxyd Connector installed by Ansible does not use the <span class="ProprietaryNonConventional">sagentd</span> component to connect to the <MadCap:variable name="General.ProductName" /> Supervisor.</p>
        <h3><a name="env_meta"></a>env_metadata</h3>
        <p>The Federation <span class="ProprietaryFileName">/env/client-template/group_vars/all</span> settings file provides settings to configure the Metadata service. These include filebeat autostart and auto-restart, metadata pruning, and backup location declarations. Metadata pruning is discussed here. </p>
        <h4>Metadata Pruning</h4>
        <p>Pruning is the removal of obsolete and no-longer-useful data from a data set. In the context of a Metadata cluster, pruning refers to the Raft log entries already backed up to a RING. Because relevant log entries are available from blobs already stored in the RING, the Metadata service no longer requires them in the local Raft log, and can thus free disk space on its SSDs, holding the log to a reasonable size.</p>
        <p>Pruning can be activated or deactivated with a single parameter in the environment configuration.</p>
        <h4>Configuring Metadata Pruning</h4>
        <p>The Metadata pruning feature is not configurable. It is enabled through the Federation environment’s <span class="ProprietaryFileName">group_vars/all</span> file, through the <code>prune</code> parameter of the <span class="ElementName">env_metadata</span> section:</p><pre xml:space="preserve">env_metadata:
   # enable / disable autostart for filebeat
   filebeat_autostart: true
   # enable / disable autorestart for filebeat
   filebeat_autorestart: true
   # enable / disable prunning
   prune: false</pre>
        <p>The default value for the pruning feature is disabled (false). To enable pruning, set this value to true.</p>
    </body>
</html>