﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="670" MadCap:lastWidth="650">
    <head>
    </head>
    <body>
        <h1>Post-Installation Tasks</h1>
        <p style="text-align: left;">To establish an operational service once the <MadCap:variable name="S3 Connector Variables.ComponentName" /> is installed, first create an account level access key.</p>
        <p class="Note" style="text-align: left;">The credential configuration files for either awscli or s3cmd can be set following the generation of the account level access key and any user level access key.</p>
        <h2>Generating an Account Level Access Key</h2>
        <p style="text-align: left;">Following a fresh <MadCap:variable name="S3 Connector Variables.ComponentName" /> installation,  create an initial IAM account that can both create users and manage the service and buckets. To do this, run the generate-access-key.yml Ansible playbook.</p>
        <p class="codeparatext_lastline">ansible-playbook -i ./env/{{targetEnvironmentName}}/inventory -e 'account={{accountName}} password={{accountPassword}} email={{accountEmailAddress}} s3cfg_file={{s3cfgPath}}' tooling-playbooks/generate-access-key.yml</p>
        <p class="Note" style="text-align: left;">Access keys attached to an account remain fully functional, however access keys attached to a user have no function as no policies are attached to the user.</p>
        <h2>Generating a User Level Access Key</h2>
        <ol>
            <li>Run the docker exec command to access a running S3 container.</li>
            <li class="codeparatext_li_lastline" style="page-break-before: avoid;">docker exec -it scality-s3 bash</li>
            <li>In the container, navigate to the filesystem.</li>
            <li class="codeparatext_li_lastline" style="page-break-before: avoid;">cd ~/S3/node_modules/vaultclient</li>
            <li>Create « vaultclient.conf » configuration file with the credentials stored in admin1.json. </li>
            <li class="codeparatext_li" style="page-break-before: avoid;">{</li>
            <li class="codeparatext_list_indent">"accessKey": "4TTTOTZ1I063UQJSDHCG",</li>
            <li class="codeparatext_list_indent">"secretKeyValue": "zZNEGP0LgXsK3aks+=wa2kHeX1FaoNBOqz4sJz57"</li>
            <li class="codeparatext_li_lastline">}</li>
            <li>Run the following command set to create the user level access key:</li>
            <li class="codeparatext_li" style="page-break-before: avoid;">./bin/vaultclient create-account --config ./vaultclient.conf  --name {{username}}  --email {{usernameEmailAddress}} --host localhost
</li>
            <li class="codeparatext_li">./bin/vaultclient generate-account-access-key  --config ./vaultclient.conf —name {{username}}</li>
        </ol>
    </body>
</html>