﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1>Offline S3 Connector Installation</h1>
        <p>The S3 Connector can be deployed in an offline installation without internet connectivity. This is the most common deployment for many customers and data centers where network security is a concern or is controlled. The offline installation and deployment mode uses Ansible and is driven from the Inventory files described earlier. This section provides an outline of the installation sequence, plus the details for each step.</p>
        <h2>Offline Installation Sequence</h2>
        <ol>
            <li>
                <p>Install the Scality RING (5.1.x, 6.x or later) first on a minimum of six storage servers (for single site) or a minimum of 12 servers (for 2-site and 3-site stretched configurations). The stretched configurations require 12 or more servers to function properly with active and warm-standby metadata servers.</p>
            </li>
            <li style="text-align: left;">Select the machine to act as the deployment server (typically, this is the Supervisor machine). See <MadCap:xref href="../2_Deployment_Environment/Setting Up the Deployment Machine.htm">“Setting Up the Deployment Machine” on page&#160;1</MadCap:xref>.</li>
            <li style="text-align: left;">Select five or more RING storage servers to serve as the S3 Connector deployment targets.</li>
            <li>
                <p style="text-align: left;">Download and extract the S3 Connector tar archive file to a designated directory on the deployment server.</p>
                <p style="text-align: left;"><span class="Code_Terminal">tar jxvf s3-offline-&lt;version&gt;.tar.bz2</span>
                </p>
                <p style="text-align: left;">Go to the designated directory and run this command:</p>
                <p style="text-align: left;"><span class="Code_Terminal">cd s3-offline-&lt;version&gt;/federation </span>
                </p>
            </li>
            <li style="text-align: left;"><a href="../2_Deployment_Environment/Modifying the Inventory File Template.htm" title="Modifying the Inventory File Template" alt="Modifying the Inventory File Template">Modify the Inventory File template</a>.</li>
            <li style="text-align: left;"><a href="../2_Deployment_Environment/Modifying the Group Variables Template.htm" title="Modifying the Global Variables template" alt="Modifying the Global Variables template">Modify the Global Variables template</a>.</li>
            <li style="text-align: left;">
                <p>Configure the S3 Vault environment. (For new deployment only, not for upgrade.) </p>
                <p><span class="Code_Terminal">./ansible-playbook -i {{targetEnvironmentDir}}//inventory tooling-playbooks/generate-vault-env-config.yml</span>
                </p>
            </li>
            <li>
                <p style="text-align: left;">Deploy the S3 Connectors and associated components. </p>
                <p style="text-align: left;"><span class="Code_Terminal">./ansible-playbook -i {{targetEnvironmentDir}}/inventory run.yml </span>
                </p>
            </li>
            <li style="text-align: left;">
                <p>Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. Refer to the S3 Connector Vault API Reference for details. (For new deployment only, not for upgrade.) </p>
                <p>For accounts run this command:</p>
                <p style="text-align: left;"><span class="Code_Terminal">./ansible-playbook -i {{targetEnvironmentDir}}/inventory tooling-playbooks/generate-account-access-key.yml -e account_name=my-account-1 -e account_email=account1@example.com</span>
                </p>
                <p>For users, groups, policies, and access keys refer to <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS Identity and Access Management. </a></p>
                <p style="text-align: left;">The <span class="Code_Terminal">aws</span> command line tool is available in the extracted offline archive as:</p>
                <p><span class="Code_Terminal">s3-offline-&lt;version&gt;/repo/venv/bin/aws</span>
                </p>
            </li>
            <li style="text-align: left;">Start sending data to the S3 Connectors. Refer to the S3 Connector API Reference for details.</li>
        </ol>
    </body>
</html>