﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1>Online S3 Connector Installation</h1>
        <p style="text-align: left;">An optional online deployment mode for the <MadCap:variable name="S3 Connector Variables.ComponentName" /> requires internet connectivity and can automate the process of pulling Docker containers and all dependent packages directly from Docker hub. This section provides an outline of the installation sequence, plus the details for each step.</p>
        <MadCap:snippetBlock src="../Resources/Snippets/cut_paste_pdf_constraint.flsnp" />
        <h2>Online Installation Sequence</h2>
        <ol>
            <li>Install the Scality RING (5.1.x, 6.x or later) first on a minimum of six storage servers.</li>
            <li>Select the machine to act as the deployment server (typically, this is the Supervisor machine). See <MadCap:xref href="../2_Deployment_Environment/Setting Up the Deployment Machine.htm">“Setting Up the Deployment Machine” on page&#160;1</MadCap:xref>.</li>
            <li>Install Ansible 2.2.1 on the deployment server.</li>
            <li>Select five or more RING storage servers to serve as the S3 Connector deployment targets.</li>
            <li>Download and extract the S3 Connector tar archive file to a designated directory on the deployment server.</li>
            <li><a href="../2_Deployment_Environment/Modifying the Inventory File Template.htm" title="Modifying the Inventory File Template" alt="Modifying the Inventory File Template">Modify the Inventory File template</a>
            </li>
            <li><a href="../2_Deployment_Environment/Modifying the Group Variables Template.htm" title="Modifying the Global Variables template" alt="Modifying the Global Variables template">Modify the Global Variables template</a>.</li>
            <li>
                <p>Configure Docker credentials.</p>
                <p class="Note" style="color: #000000;text-align: left;">Online <MadCap:variable name="S3 Connector Variables.ComponentName" /> component installation requires that each server in the  target environment be logged into the Docker Hub. Each customer will need to acquire their own credentials on Docker Hub (hub.docker.com), validated for the private <MadCap:variable name="General.CompanyName" /> repository.</p>
            </li>
            <li>
                <p>Prepare the target servers.</p>
                <p class="Note">As root permissions are required to run the ansible-playbook command, add the <span style="font-family: 'Courier New';">--ask-become-pass</span> option (presuming all target machines share the same password) to run the command as sudo. Password-less access can also be configured with .ssh/config and ssh keys.&#160;</p>
                <p>Once set up, the environment inventory can be invoked from Ansible to confirm the presence of all requirements for the <MadCap:variable name="S3 Connector Variables.ComponentName" /> component installs. </p>
                <p style="text-align: left;"><span class="Code_Terminal">ansible-playbook -i env/targetEnvironmentName/inventory</span> <br /><span class="Code_Terminal">install-run-requirements.yml --ask-become-pass</span></p>
                <p>Configure the S3 Vault environment. (For new deployment only, not for upgrade.) </p>
                <p><span class="Code_Terminal">ansible-playbook -i .{{targetEnvironmentDir}}//inventory tooling-playbooks/generate-vault-env-config.yml</span>
                </p>
            </li>
            <li>
                <p>Deploy the S3 Connectors and associated components.</p>
                <p> Deploy the Prebuilt Images. To install <MadCap:variable name="S3 Connector Variables.ComponentName" />s and supporting components, call <code>ansible-playbook</code> with the <code>-i</code> argument set to the <span class="FileName">inventory</span> file and use the <span class="FileName">run.yml</span> data markup file (from the repository or tar archive file root directory) as a terminal argument.</p>
                <p style="text-align: left;">For example,  to install the <MadCap:variable name="S3 Connector Variables.ComponentName" />s and components to the environment named <cite>{{targetEnvironmentName}}</cite>, enter the following command:</p>
                <p><span class="Code_Terminal">ansible-playbook -i env/{{targetEnvironmentName}}/inventory run.yml</span>
                </p>
            </li>
            <li>
                <p>Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. Refer to the S3 Connector Vault API Reference for details. (For new deployment only, not for upgrade.) </p>
                <p>For accounts run this command:</p>
                <p style="text-align: left;"><span class="Code_Terminal">ansible-playbook -i {{targetEnvironmentDir}}/inventory tooling-playbooks/generate-account-access-key.yml -e account_name=my-account-1 -e account_email=account1@example.com</span>
                </p>
                <p>For users, groups, policies, and access keys refer to <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS Identity and Access Management.</a></p>
                <p style="text-align: left;">The <span class="Code_Terminal">aws</span> command line tool is available in the extracted offline archive as:</p>
                <p><span class="Code_Terminal">s3-offline-&lt;version&gt;/repo/venv/bin/aws</span>
                </p>
                <div style="page-break-inside: avoid;">
                    <p style="text-align: left;">Refer to the <span class="PublicationName">S3 Connector Administration Guide</span> for information on:</p>
                    <ul>
                        <li>Configuring Identity Access Management (IAM) to add Accounts, Users, and Generate Access Keys</li>
                        <li>Configuring S3 Client Applications to communicate with Scality S3 Connector</li>
                        <li>Setting up Nagios checks and monitoring</li>
                    </ul>
                </div>
            </li>
            <li>Start sending data to the S3 Connectors. Refer to the S3 Connector API Reference for details.</li>
        </ol>
        <h3 MadCap:conditions="FutureUse.PrintOnly">Redeploying Selected Components</h3>
        <p style="page-break-after: avoid;text-align: left;" MadCap:conditions="FutureUse.PrintOnly">To redeploy selected components, separate tags are available for the <MadCap:variable name="S3 Connector Variables.ComponentName" />s, S3 Metadata and S3 Vault components. The following command can be used to redeploy only the S3 Metadata and S3 Vault containers to <span class="Code_Terminal">{{targetEnvironmentName}}</span>:</p>
        <p MadCap:conditions="FutureUse.PrintOnly">ansible-playbook -i env/{{targetEnvironmentName}}/inventory --tags metadata,vault run.yml</p>
        <h3>Verifying the Installation</h3>
        <p>Upon successful completion of the ansible-playbook command that uses the run.yml data markup file, run the docker <span class="Code_Terminal">ps</span> command via ansible.</p>
        <p class="codeparatext_lastline_indent">ansible -i<cite>env/{{targetEnvironmentName}}</cite>/inventory all -m shell -a "docker ps"</p>
        <p class="codeparatext_lastline">
            <img src="../Resources/Images/VerifyingInstallation - ansible docker ps command.png" class="OneHundredPercent" style="width: 620px; height: 119px;" />
        </p>
        <p class="Note" style="text-align: left;">If UTAPI (Service Utilization API) and/or Vault SAML support are enabled, additional redis container images – redis-server and redis-sentinel – will display.</p>
        <p style="text-align: left;">Use the Docker images command to verify that the images are available to the Docker service on the target servers.</p>
        <p class="codeparatext_lastline">ansible -i <cite>env/{{targetEnvironmentName}}</cite>/inventory all -m shell -a "docker images"</p>
        <p class="codeparatext_lastline">
            <img src="../Resources/Images/VerifyingInstallation - ansible docker images command.png" class="OneHundredPercent" style="width: 621px;height: 132px;" />
        </p>
        <div style="page-break-inside: avoid;">
            <p>&#160;</p>
        </div>
    </body>
</html>